<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.yi.java_web_male.dao.BookMapper">

	<sql id="selectSql">
		SELECT book_code, book_no, author, translator, title, price, rental_possible, image, cate_s_no, cate_m_no, cate_b_no, pub_no
		FROM proj_library.book

	</sql>

	<sql id="whereSql">
		<where>
			<if test="bookCode != null">
				book_code REGEXP#{bookCode}
			</if>
		</where>
	</sql>
	<sql id="whereOtherSql">
		<where>
			<if test="pubNo != null">
				pub_no=#{pubNo}
			</if>
			<if test="cateBNo != null">
				and cate_b_no =#{cateBNo}
			</if>
			<if test="cateMNo != null">
				AND cate_m_no=#{cateMNo}
			</if>
			<if test="cateSNo != null">
				AND cate_s_no=#{cateSNo}
			</if>			
			<if test="author != null">
				AND author=#{author}
			</if>
			<if test="translator != null">
				AND translator=#{translator}
			</if>
			<if test="title != null">
				AND title=#{title}
			</if>
		</where>
	</sql>
	
	<select id="selectBookByAll" parameterType="Book"
		resultType="Book">
		<include refid="selectSql" />
	</select>
	
	<!-- updateSql -->
	<sql id="updateSql">
		update book set book_no=#{bookNo}, author=#{writter}, translator=#{translator}, title=#{title}, price=#{priece}, rental_possible=#{rentable}, image=#{image}, cate_s_no=#{categorynoS.categorynoS}, cate_m_no=#{categorynoM.categorynoM}, cate_b_no=#{categorynoB.categorynoB}, pub_no=#{publisherNo.publisherNo}
		WHERE book_code=#{bookCode};
	</sql>	
	
	<resultMap type="Book" id="Booktyepinsert">
		<id property="bookCode" column="book_code"/>
		<result property="bookNo" column="book_no"/>
		<result property="pubNo.pubNo" column="pub_no"/>
		<result property="author" column="author"/>
		<result property="translator" column="translator"/>
		<result property="title" column="title"/>
		<result property="image" column="image"/>
		<result property="price" column="price"/>
		<!-- <result property="rentalPossible" column="rental_possible"/> -->
		<result property="cateBNo.bCode" column="cate_b_no"/>
		<result property="cateMNo.mCode" column="cate_m_no"/>
		<result property="cateSNo.sCode" column="cate_s_no"/>		
	</resultMap>
	
	<select id="selectbookbybookCode" parameterType="Book"
		resultMap="Booktyepinsert">
		<include refid="selectSql" />
		<include refid="whereSql" />
	</select>
	
	<select id="selectbookbyOther"  parameterType="hashmap"
		resultMap="Booktyepinsert">
		<include refid="selectSql" />
		<include refid="whereOtherSql" />
	</select>
	
	<insert id="insertBook" parameterType="Book">
		INSERT INTO proj_library.book (book_code, book_no, author, translator, title, price, rental_possible, image, cate_s_no, cate_m_no, cate_b_no, pub_no)
		VALUES(#{bookCode}, #{bookNo}, #{author}, #{translator}, #{title}, #{price}, #{rentalPossible}, #{image}, #{cateSNo.sCode}, #{cateMNo.mCode}, #{cateBNo.bCode}, #{pubNo.pubNo});
	</insert>
	
	<update id="updateBook" parameterType="Book">
		<include refid="updateSql" />
	</update>
	
	<select id="selectBookByBookNo" parameterType="Book" resultMap="Booktyepinsert">
		<include refid="selectSql" />
		where book_no = #{bookNo}
	</select>
	
	<select id="selectBookByBookNoToMax" parameterType="Book" resultType="Book">
		select max(book_no) from book
	</select>

</mapper>